.home__content {
    grid-template-columns: 2fr 1fr;
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
   
}

.img__socials {
    grid-template-rows: 0.1fr 0.9fr;
    justify-items: center;
}


.home__data {
    order: -1;
    margin-top: -200px;
    
}

.home__title {
    font-size: 3.5rem;
}

.home__description {
    max-width: 400px;
}

.home__img {
    background: url(../../assets//linkedin1.jpeg);
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 0px rgb(255, 255, 255 / 30%);
    order: 1;
    justify-self: center;
    width: 300px;
    height: 300px;

}

@media screen and (max-width: 992px) {
    .home__content {
        grid-template-columns: 2fr 1fr;
        column-gap: 1.25rem;
    }

    .home__data {
        margin-top: -10px;
    }


    .home__description {
        max-width: initial;
        margin-bottom: 2.5rem;
    }

    .home__img {
        width: 250px;
        height: 250px;
        box-shadow: inset 0 0 0 0px rgb(255 255 255 / 30%);
    }
  }
  
  @media screen and (max-width: 768px) {
    .home__content {
        grid-template-columns: 2fr 1fr;
        padding-top: 3.5rem;
    }

    .home__data {
        margin-top: -190px;
    }

    .home__img {
        order: initial;
        justify-self: initial;
    }

    .home__data {
        grid-column: 1/3;
    }

    .home__img {
        box-shadow: inset 0 0 0 0px rgb(255 255 255 / 30%);
        width: 200px;
        height: 200px;
    }

  }
  
  @media screen and (max-width: 350px) {
    .home__img {
        width: 180px;
        height: 180px;
    }


    .home__data {
        margin-top: -190px;
    }

  }

